@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-primary-50: #f2f7fd;
  --color-primary-100: #e5edf9;
  --color-primary-200: #c4dbf3;
  --color-primary-300: #90bde9;
  --color-primary-400: #559adb;
  --color-primary-500: #2f7ec8;
  --color-primary-600: #1d5a9b;
  --color-primary-700: #1b4f89;
  --color-primary-800: #1a4472;
  --color-primary-900: #1b3a5f;
  --color-primary-950: #12253f;

  --color-stufen-woelfling: #F58220;
  --color-stufen-jungpfadfinder: #009EE3;
  --color-stufen-pfadfinder: #009640;
  --color-stufen-rover: #E30613;
}
